body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    
    img {
        max-width: 80%;
        height: auto;
    }
}

header {
    background-color: #2c692e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.agro {
    text-align: center; 
}

.imagem-agro {
    max-width: 100%;  
    height: auto; 
    display: block; 
    margin: 0 auto; 
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
}


nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #b8b8b8;
    text-align: center;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #181616;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
